body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px auto;
    height: 55px;
    text-align:center;
    line-height: 55px; 
    border: none;
    background-size: 300% 100%;
    text-decoration: none;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


.btn-hover-container {
    width: calc(100% + 30px);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px auto;
    height: 55px;
    text-align:center;
    line-height: 55px; 
    border: none;
    background-size: 300% 100%;
    text-decoration: none;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.material-symbols-outlined {
    vertical-align: middle; /* 아이콘이 텍스트와 중간 정렬되도록 설정 */
    margin-right: 8px; /* 아이콘과 텍스트 사이에 간격 추가 */
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.9);
    padding: 40px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    font-size: 18px;
}

.looking {
    position: fixed; /* 고정 위치 */
    bottom: 13%; /* 페이지 하단에 위치 */
    right: 0; /* 페이지 왼쪽에 위치 */
    margin-right:10%;
    width: 800px; /* 이미지 너비 (필요에 따라 조정) */
    height: auto; /* 이미지 높이 자동 조정 */
    margin: 10px; /* 이미지와 페이지 모서리 사이의 여백 (필요에 따라 조정) */
    opacity: 0.9;
}

.container1 {
    position: fixed; /* 페이지 상단에 고정 */
    top: 0; /* 페이지 상단에 위치 */
    width: 100%; /* 전체 너비를 차지 */
    height: 50px; /* 높이 설정 (얇게 보이도록) */
    background-color: #f0f0f0; /* 배경색 */
    display: flex; /* Flexbox 레이아웃 활성화 */
    align-items: center; /* 수직 정렬 */
    padding: 0 20px; /* 좌우 여백 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 상단 그림자 추가 */
    box-sizing: border-box; /* 여백 및 테두리 포함 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.content {
    display: flex;
    width: 100%;
    align-items: center; /* 수직 중앙 정렬 */
    position: relative; /* 상대적 위치 설정 */
}

h1 {
    display: flex; /* Flexbox 레이아웃 활성화 */
    align-items: center; /* 수직 정렬 */
    margin: 0; /* 기본 여백 제거 */
    position: absolute; /* 절대 위치 설정 */
    left: 50%; /* 중앙으로 이동 */ 
    transform: translateX(-50%); /* 중앙 정렬 조정 */
}

.button_container {
    display: flex;
    gap: 10px; /* 버튼 간의 간격 설정 */
    position: absolute; /* 절대 위치 설정 */
    right: 20px; /* 오른쪽 여백 설정 */
}

.button1 {
    padding: 10px 20px; /* 버튼 패딩 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    background-color: #007BFF; /* 버튼 배경색 */
    color: white; /* 버튼 글자색 */
    font-size: 16px; /* 버튼 글자 크기 */
    cursor: pointer; /* 버튼에 커서 포인터 설정 */
    transition: background-color 0.3s; /* 배경색 변경 시 애니메이션 */
}

.button1:hover {
    background-color: #0056b3; /* 버튼 호버 시 배경색 */
}


.container {
    background-color: rgba(255, 255, 255, 0); /* 투명도 조정 */
    padding: 60px;
    max-width: 400px;
    min-width: 350px;
    width: 50%;
    margin: 0 auto; /* 좌우 가운데 정렬 */
    margin-top: 14%; /* 상단 바 높이만큼 여백 추가 */
    margin-bottom: 300px;
    margin-left : 35%;
}

input {
    font-family: Arial, sans-serif;
    padding: 15px;
    width: calc(100% - 30px); /* input 너비를 컨테이너와 비슷하게 설정 */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input-container input {
    padding: 20px;
    font-size: 16px;
    width: 110%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* 입력 필드 사이 여백 추가 */
}

.button {
    font-family: 'Malgun Gothic', Arial, sans-serif;
    padding: 15px;
    width: calc(100% - 30px); /* input 너비를 컨테이너와 비슷하게 설정 */
    background-color: #007bff; /* 배경 색상 */
    font-size: 16px;
    cursor: pointer;
    color: #ffffff; /* 텍스트 색상 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글기 */
}

a {
    text-align: center;
    font-size: 12px;
    display: block; /* 링크를 블록 요소로 설정 */
    margin-top: 10px; /* 링크와 다른 요소 사이의 여백 추가 */
}

hr {
    border-top: 2px dotted gray;
    margin: 20px 0; /* 위아래 여백 추가 */
}

.social {
    text-align: center;
}
.a_tag{
    display: flex; /* Flexbox 레이아웃 활성화 */
    justify-content: center; /* 자식 요소들을 수평으로 중앙 정렬 */
    margin-top:10px;
}
.a_tag a.pass {
    font-size: 18px; /* 글씨 크기 설정 */
    color: #333; /* 글씨 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-left: 15%;
}
.pass {
    margin: 0 5px; /* 항목 사이의 여백 설정 */
}

.google_Icon {
    display: block;
    margin: 0 auto; /* 이미지 가운데 정렬 */
}
h2 {
    display: flex; /* Flexbox 레이아웃 활성화 */
    align-items: center; /* 수직 정렬 */
    font-size: 30px;
}
h3 {
    display: flex; /* Flexbox 레이아웃 활성화 */
    align-items: center; /* 수직 정렬 */
    font-size: 15px;
    color: gray;
}
/* 미디어 쿼리를 사용하여 화면 크기에 따라 h1 폰트 크기 조절 */
@media (max-width: 2100px) {
    h1 {
        font-size: 1.8rem; /* 화면이 1200px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 150px;
        margin-bottom: 200px;
        margin-left: 32%;
    }
    .btn-hover {
        width: 140px;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        margin: 18px auto;
    }
    .looking {
        right: 1%; /* 오른쪽 여백 제거 */
        margin-right: 20px; /* 추가 여백 제거 */
        width: 600px; 
    }
}
@media (max-width: 1700px) {
    h1 {
        font-size: 1.8rem; /* 화면이 1200px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 150px;
        margin-bottom: 200px;
        margin-left: 29%;
    }
    .btn-hover {
        width: 140px;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        margin: 18px auto;
    }
    .looking {
        right: 1%; /* 오른쪽 여백 제거 */
        margin-right: 10px; /* 추가 여백 제거 */
        width: 550px; 
    }
}
@media (max-width: 1400px) {
    h1 {
        font-size: 1.8rem; /* 화면이 1200px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 150px;
        margin-bottom: 180px;
        margin-left: 27%;
    }
    .btn-hover {
        width: 140px;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        margin: 18px auto;
    }
    .looking {
        right: 1%; /* 오른쪽 여백 제거 */
        margin-right: 0; /* 추가 여백 제거 */
        width: 500px; 
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 1.8rem; /* 화면이 1200px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 150px;
        margin-bottom: 150px;
        margin-left: 25%;
    }
    .btn-hover {
        width: 140px;
        font-size: 17px;
        height: 50px;
        line-height: 50px;
        margin: 18px auto;
    }
    .looking {
        right: 1%; /* 오른쪽 여백 제거 */
        margin-right: 0; /* 추가 여백 제거 */
        width: 400px; 
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 1.8rem; /* 화면이 1200px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 150px;
        margin-bottom: 140px;
        margin-left: 23%;
    }
    .btn-hover {
        width: 120px;
        font-size: 15px;
        height: 48px;
        line-height: 50px;
        margin: 16px auto;
    }
    .looking {
        display: none;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.8rem; /* 화면이 992px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 120px;
        margin-bottom: 115px;
        margin-left: 21%;
    }
    .btn-hover {
        display: none;
    }
    .looking {
        display: none;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem; /* 화면이 768px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 100px;
        margin-bottom: 110px;
        margin-left: 17%;
    }
    .btn-hover {
        display: none;
    }
    .looking {
        display: none;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem; /* 화면이 576px 이하일 때 폰트 크기 조정 */
    }
    .container {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 12%;
    }
    .btn-hover {
        display: none;
    }
    .looking {
        display: none;
    }
}