<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/find_password.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find_password</title>
</head>
<body>
  <nav>
    <div class="content">
        <h1>곱닥한 제주어</h1>
        <div class="button_container">
            <button class="btn-hover color-9" type="button" onclick="window.location.href='{{ url_for('index') }}'">처음 으로</button>
            <button class="btn-hover color-9" type="button" onclick="window.location.href='{{ url_for('sign_up') }}'">회원 가입</button>
        </div>
    </div>
</nav>

    <div class="container">
      <h2>비밀번호 찾기</h2>
      <h3>이메일을 입력하시면, 비밀번호를 재설정 하실 수 있는 링크를 보내드립니다.</h3>
      <form action="{{ url_for('find_password') }}" method="POST">
        <div class="input-container">
          <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required>
      </div>
        <br />

        <button class="btn-hover-container color-9" type="submit">제출하기</button>

        <div class="a_tag">
          <a class="pass" href="{{ url_for('login') }}">로그인</a>
        </div>
      </form>
    </div>

    <!-- 플래시 메시지를 알림창으로 표시 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <script>
          {% for category, message in messages %}
            alert("{{ message }}");
          {% endfor %}
        </script>
      {% endif %}
    {% endwith %}

    <!-- 여기서부터 추가 스크립트 -->
    <script>
      // 이메일 형식 검증 등 추가적인 JavaScript 코드를 작성할 수 있습니다.
      document.querySelector('form').addEventListener('submit', function(event) {
        var email = document.getElementById('email').value;
        if (!validateEmail(email)) {
          alert('유효한 이메일 주소를 입력해 주세요.');
          event.preventDefault(); // 제출 중지
        }
      });

      function validateEmail(email) {
        var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
      }
    </script>
    <img class="looking" src ="/static/img/pwlook.png">
  </body>
</html>