<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=New+Amsterdam&display=swap"
      rel="stylesheet"
    />
</head>
  <body>
    <nav>
      <div class="content">
          <h1>곱닥한 제주어</h1>
          <div class="button_container">
              <button class="btn-hover color-9" type="button" onclick="window.location.href='{{ url_for('home') }}'">처음으로</button>
              <button class="btn-hover color-9" type="button" onclick="window.location.href='{{ url_for('sign_up') }}'">회원가입</button>
          </div>
      </div>
  </nav>

    <div class="container">
      <h2>로그인</h2>

      <!-- 에러 메시지를 표시하는 부분 -->
      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}

      <form id="loginForm" action="{{ url_for('login') }}" method="POST">
        <div class="input-container">
          <span class="material-symbols-outlined icon">mail</span>
          <input type="email" id="email" name="email" placeholder="이메일" required />
      </div>
      <div class="input-container">
        <span class="material-symbols-outlined icon">lock</span>
        <input type="password" id="password" name="password" placeholder="비밀번호" required />
    </div>
        <button class="btn-hover-container color-9" type="submit">로그인</button>
        <br />
        <a class="password" href="{{ url_for('find_password') }}">비밀번호를 잊어버리셨나요?</a>
    </form>

      <br />
      <br />
    </div>
    <img class="hands" src ="/static/img/heart.png">
  </body>
</html>