<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/password_reset.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>password</title>
</head>
  <body>
    <nav>
      <div class="content">
          <h1>곱닥한 제주어</h1>
          <div class="button_container">
              <button class="button1" type="submit">로그인</button>
              <button class="button1" type="submit">회원가입</button>
          </div>
      </div>
  </nav>

    <div class="container">
      <div class="icon-container">
        <span class="material-icons">email</span>
      </div>

      <h2>메일을 발송해드렸습니다.<br /> 메일에 들어가서 확인해보세요.</h2>

      <button class="button" onclick="location.href='{{ url_for('login') }}'">로그인으로 돌아가기</button>
    </div>
  </body>
</html>